<div class="message center">
  <div class="well">
    <div class="media foot-parent">
      <div class="pull-left">
        <a href="#">
          <img class="media-object" src="/images/mail.png">
        </a>
        <p><b>From:</b>
        <%=message.sender.name + ' <' + message.sender.username + '>' %></p>
        <br>
        <br>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><b>Subject:</b><%= message.head %></h4>
        <hr>
        <p> <b>Message:</b><%= message.text %></p>
      </div>
      <ul class="list-inline list-unstyled bottom-left">
      </ul>
      <ul class="list-inline list-unstyled bottom-right">

        </li>
        <li>
          <span>
            <i class="glyphicon glyphicon-calendar"></i>
            <%= I18n.localize message.updated_at, format: :post %>
          </span>
        </li>
      </ul>
  </div>
</div>
</div>
