<h1>
  <%= current_user.name  %>'s Messages</h1>

<div class="center">

  <hr>

  <% @messages.each do |message| %>
  <%= render message %>
  <% end %>

  <%= will_paginate @messages %>

  <%= link_to 'javascript: send_to("' + current_user.username.to_s + '")', class: 'btn btn-success new-message-btn white-text' do %>
    <span class="glyphicon glyphicon-plus"></span>

  <%end%>
</div>
