<h1> <%= current_user.name  %>'s Messages</h1>


  <div class="center">


    <hr>

    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>

  <%= will_paginate @messages %>

<%= button_to  new_message_path, class: 'btn btn-success fixed-btn', method: :get do %>
<span class="glyphicon glyphicon-plus">
</span>

<%end%>
