<div class="well comment foot-parent">
  <%= form_tag categories_path, method: :post do %>
    <div class="field comment-textarea">
      <%= text_area_tag :comment, '', class: 'form-control' %>
    </div>
    <div class="actions text-right comment-submit">
      <%= submit_tag 'comment', class: 'btn btn-md btn-primary' %>
    </div>
  <% end %>
</div>
