<p id="notice"><%= notice %></p>

<!-- <h1>Here's What's New</h1> -->

<div class="center">

  <h1><%= current_user.current_neighborhood.name %></h1>
  <hr>

  <%= render 'form' %>

  <hr>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<br>
