<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @neighborhood.categories.order(:name).each do |category| %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= category.description %>
        </td>
        <td>
          <%= button_to 'Delete', category, method: :delete, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
