
<div class="neighborhood center">
    <div class="well pointer" onclick="goto('<%= neighborhood_path(neighborhood) %>');">
        <div class="pointer">


        <h2 class="space"><%= neighborhood.name %></h2>
        <h4><%= neighborhood.location %><h4>
        <hr class="under-title">
        <div class="panel panel-success">
            <div class="panel-heading white-text">
                <span class="white-text bold">Description</span>
            </div>
            <div class="panel-body">
                <%= neighborhood.description %>
            </div>
        </div>


        </div>
    </div>
</div>
