

<h1>Neighborhoods</h1>



<% @neighborhoods.each do |neighborhood| %>
  <%= render neighborhood %>
  
<% end %>

<br>

<% unless isNewser(current_user) %>
<%= link_to 'New Neighborhood', new_neighborhood_path, class: 'btn btn-lg btn-success white-text' %>
<% end %>
