

<h1>Neighborhoods</h1>



<% @neighborhoods.each do |neighborhood| %>
  <%= render neighborhood %>

<% end %>

<br>

<% unless isNewser(current_user) %>
<%= button_to new_neighborhood_path, class: 'fixed-btn btn btn-success white-text', method: :get do %>
<span class="glyphicon glyphicon-plus">
</span>
<%end%>
<%end%>
