// Place all the styles related to the Neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.click-row {
  cursor: pointer;
}

.buttons {
  display: inline-block;
}

.content {
  width: 80%;
  margin-left: 10%;
}

// body {
//   background-image: url("http://static.trulia-cdn.com/images/guide/guide/horizontal/home_equity_loans_the_types_pros_and_cons.jpg");
//   background-attachment: fixed;
//   background-size: cover;
// }

.head-img {
  height: 5em;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 80px;
  left: 0;
  top: 0;
}

.head-table {
  width: 100%;
}

.head-left {
  width: 20%;
}

.head-mid {
  width: 60%;
}

.head-right {
  width: 20%;
}

.neighborhood-title {
  padding-top: 15px;
  font-size: 4em;
  display: inline-block;
}

.under-title {
  background-color: #000;
  height: 2px;
}

.under-description {
  background-color: #000;
  height: 2px;
  width: 40%;
  margin-left: 30%;
}
