// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin-left : auto;
    margin-right : auto;
    width : 980px;
}

#sidebar {
    width : 300px;
    float : left;
}

#main-contents {
    width : 660px;
    float : left;
}

aside {
    -moz-border-radius: 15px; /* those two declaration are to get round boders for the asides, as in fig 3-10-5, across browsers */
    border-radius: 15px;
}

footer {
    clear : both;
}

